/* My links styles */

#main {
  padding-right: 0em;
}
.mylinks {
  margin-top: 2em;
  margin-bottom: 4em;
  display: flex;
  width: 65%;
  justify-content: space-between;
}
.new-links {
  all: unset;
  display: block;
  background-color: #dbdbdb;
  padding: 5px 12px;
  color: #49bf9d;
  border-radius: 0.35em;
  border: solid 2px transparent;
}

.new-links:hover {
  border: solid 2px #49bf9d;
  cursor: pointer;
}

#main {
  padding-top: 0;
}

/* h2 {
  margin: 0;
  padding: 0;
} */

#one:first-of-type {
  margin: 0;
  padding: 0;
  border-top: none;
}

.experience h1,
.DCIM h1 {
  color: #49bf9d;
}

/* My sections styles */

.DCIM {
  display: none;
}

.experience {
  display: none;
}

/* Utility class */

.hide {
  display: none;
}

.show {
  display: block;
}

.border {
  border: solid 2px #49bf9d;
}

/* Work Experience Styles */

.resilience,
.church {
  display: flex;
  align-items: center;
  width: 100%;
  border: solid 3px #49bf9d;
  border-radius: 0.35em;
  margin-bottom: 2em;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.experience-img {
  width: 300px;
}

.description-header {
  margin: 0;
}

.description {
  padding-left: 40px;
  padding-top: 0;
}

.church-img {
  height: 300px;
  border-radius: 50%;
}

/* Project styles */

.caps-img {
  width: 100%;
  height: 300px;
}

.project-img-container {
  width: 55%;
}

.project-img {
  width: 100%;
  height: 100%;
}

.project-content {
  width: 45%;
  padding: 40px;
}

figcaption {
  text-align: center;
  font-size: 12px;
}

.capstone p {
  margin-top: 20px;
}

.project-one {
  display: flex;
  border-top: solid 2px #efefef;
  padding-top: 30px;
}

.project-two {
  display: flex;
  padding-top: 50px;
}
