/* My links styles */

#main {
  padding-right: 0em;
  min-width: 400px;
}
.mylinks {
  display: flex;
  width: 75%;
  justify-content: space-between;
  /* padding-bottom: 25px; */
  
}

.navigation {
  margin-bottom: 2em;
  background-color:#98e6ce;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;

  /* template css */
}
.new-links {
  all: unset;
  display: block;
  background-color: #dbdbdb;
  padding: 5px 12px;
  color: #49bf9d;
  border-radius: 0.35em;
  border: solid 2px transparent;
}

.new-links:hover {
  border: solid 2px #49bf9d;
  cursor: pointer;
}

.capstone-link {
  all: unset;
  padding: 5px 12px;
  color: #49bf9d;
  border: solid 2px #49bf9d;
  border-radius: 0.35em;
  margin-bottom: 30px;
}


#main {
  padding-top: 0;
}

/* h2 {
  margin: 0;
  padding: 0;
} */

/* #one:first-of-type {
  margin: 0;
  padding: 0;
  border-top: none;
} */

.experience h1,
.DCIM h1 {
  color: #49bf9d;
}

/* My sections styles */

.DCIM {
  display: none;
}

.experience {
  display: none;
}

.avatar-container {
  text-align: center;
}

.about-image {
  display: block;
  height: 200px;
  margin: 0 auto;
}



/* Work Experience Styles */

.resilience,
.church,
.RRWJM {
  display: flex;
  align-items: center;
  width: 100%;
  border: solid 3px #49bf9d;
  border-radius: 0.35em;
  margin-bottom: 2em;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.experience-img {
  width: 300px;
}

.description-header {
  margin: 0;
}

.description {
  padding-left: 40px;
  padding-top: 0;
}

.church-img {
  height: 300px;
  border-radius: 50%;
}

/* Project styles */

.caps-img {
  width: 100%;
  height: 300px;
}

.project-img-container {
  width: 55%;
}

.project-img {
  width: 100%;
  height: 100%;
}

.project-content {
  width: 45%;
  padding: 40px;
}

figcaption {
  text-align: center;
  font-size: 12px;
}

.capstone p {
  margin-top: 20px;
}

.project-one {
  display: flex;
  border-top: solid 2px #efefef;
  padding-top: 30px;
  padding-bottom: 30px;
}

.project-two {
  display: flex;
  border-top: solid 2px #efefef;
  padding-top: 50px;
  padding-bottom: 30px;
}

.project-three {
  display: flex;
  border-top: solid 2px #efefef;
  flex-direction: row-reverse;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

.project-four {
  display: flex;
  border-top: solid 2px #efefef;
  flex-direction: row-reverse;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

.project-content h2 {
  text-align: center;
}

.project-img-container img {
  height: 300px;
}

.img-third {
  width: 200px;
}

.content-three {
  width: 80%;
}

.img-fourth {
  width: 100%;
  height: 300px;
}

.capstone h2 {
  text-align: center;
}
.DCIM img {
  padding: 2px;
  border:2px solid #49bf9d;
  border-radius: 0.35em;
}


.icon.brands {
  color: white;
}

.about-page{
  display: none;
}

.major {
  text-align: center;
}


/* Responsive design */

@media screen and (max-width: 480px) {
  #main {
    padding-right: 2em;
  }

  .mylinks {
    flex-direction: column;
    width: 100%;
    height: 150px;
    justify-content: space-around;  
  }

  .new-links {
    font-size: 0.75em;
  }

  .resilience,
  .church {
    flex-direction: column;
  }

  .church {
    flex-direction: column-reverse;
  }

  .project-content {
    width: 100%;
  }

  .project-img-container {
    width: 100%;
  }

  .project-one,
  .project-two,
  .project-three,
  .project-four {
    flex-direction: column;
    width: 100%;
    
  }

  .project-two {
    flex-direction: column-reverse;
    padding-top: 0;
  }

  .navigation {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 2em;
  }

  .burger-icon {
    width: 30px;
  }

  
}



@media screen and (max-width: 979px) {
  #main {
    padding-right: 2em;
  }
  .mylinks {
    flex-direction: column;
    width: 100%;
    height: 250px;
    justify-content: space-around;  
 
    padding: 1em;
    font-size: 0.75em;
    /* Stuff */
    top: 0;
    z-index: 100;
    display: none;
  }

  .navigation {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

  }

  .burger-icon {
    width: 50px;
    /* text-align: right; */
    margin-left: auto;
    margin-right: 10px;
  }

  .burger-icon svg {
    filter: invert(62%) sepia(71%) saturate(327%) hue-rotate(112deg) brightness(92%) contrast(85%);
  }
  




  .resilience,
  .church {
    flex-direction: column;
  }

  .church {
    flex-direction: column-reverse;
  }

  .project-content {
    width: 100%;
  }

  .project-img-container {
    width: 100%;
  }

  .project-one,
  .project-two,
  .project-three,
  .project-four {
    flex-direction: column;
    width: 100%;
    
  }

  .project-two {
    flex-direction: column-reverse;
    padding-top: 0;
  }

  .email, .address {
    overflow-wrap: break-word;
  }


  /* .burger-icon {
    display: none;
  } */
}

@media screen and (min-width: 980px){
  .mobile-footer {
    display: none;
  }


  .mylinks{
    justify-content: space-around;
    width: 90%;
  }

  .burger-icon {
    display: none;
  }

  .navigation {
    padding-top: 30px;
    padding-bottom: 30px;
    /* padding-left: 10px;
    padding-right: 10px; */

  }

 
}

/* Utility class */

.hide {
  display: none;
}

.show {
  display: block;
}

.border {
  border: solid 2px #49bf9d;
}

.flex {
  display: flex;
}


@media screen and (min-width: 1000px){
  
  .navigation {
    /* template css */
    margin-left: auto;
    /* width: 100%; */
    width: calc(100% - 30%);
    /* max-width: 54em; */
  }
    
  }

  @media screen and (min-width: 1300px){

  
    .navigation {
      margin-left: auto;
    
      width: calc(100% - 35%);
    }
      
    }
    

